<div class="container">
  <div class="row ml-3 mb-3">
    <h3 class="col-3">商品一覧</h3>
    <%= link_to new_admin_item_path, class: "offset-7 col-2" do %>
      <i class="fa-solid fa-plus fa-3x border rounded-circle shadow"></i>
    <% end %>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>商品ID</th>
        <th>商品名</th>
        <th>税抜価格</th>
        <th>ジャンル</th>
        <th>ステータス</th>
      </tr>
    </thead>
    <tbody>
      <% @items.each do |item| %>
        <tr>
          <td>
            <%= item.id %>
          </td>
          <td>
            <%= link_to item.name, admin_item_path(item.id) %>
          </td>
          <td>
            <%= converting_to_jpy(item.price) %>
          </td>
          <td>
            <%= item.genre.name %>
          </td>
          <td>
            <% if item.is_sold_out == true %>
              <span class="text-secondary"><strong>販売停止中</strong></span>
            <% else %>
              <span class="text-success"><strong>販売中</strong></span>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @items %>
</div>