<div class="container mx-auto w-80">
  <h3 class="mb-5">管理者ログイン</h3>
  <%= form_with model: @admin, url: admin_session_path do |f| %>
    <div class="row mb-2 justify-content-center">
      <%= f.label :email, "メールアドレス", class: "form-label col-form-label col-2" %>
      <%= f.email_field :email, autofocus: true, class: "form-control col-6" %>
    </div>

    <div class="row mb-3 justify-content-center">
      <%= f.label :password, "パスワード", class: "form-label col-form-label col-2" %>
      <%= f.password_field :password, autocomplete: "current-password", class: "form-control col-6" %>
    </div>
    <div class="row mb-3">
      <%= f.submit "ログイン", class: "btn btn-primary col-2 offset-4" %>
    </div>
  <% end %>