<div class="container">
  <div class="row">

    <%= render 'public/items/genre', genres: @genres %>

    <div class="col-9">
      <div class="row card">
        <%= image_tag 'sweets_pancake.png', class: "card-img" %>
        <div class="card-img-overlay d-flex">
          <div class="m-auto bg-white border">
            <p>
              ようこそ、ながのCAKEへ！</br>
              このサイトは、ケーキ販売のECサイトになります。</br>
              会員でない方も商品の閲覧はできますが、</br>
              購入には会員登録が必要になります。
            </p>
          </div>
        </div>
      </div>

      <div class="row">
        <h1>新着商品</h1>
      </div>
      <div class="row">
        <% @items.each do |item| %>
          <div class="card mr-2" style="max-width:10rem;">
            <% if customer_signed_in? %>
              <%= link_to item_path(item.id) do %>
                <%= image_tag item.get_image(300,200), class: "card-img-top" %>
              <% end %>
            <% else %>
              <%= image_tag item.get_image(300,200), class: "card-img-top" %>
            <% end %>
            <div class="card-body">
              <h6 class="card-title">
                <%= item.name %>
              </h6>
              <h6 class="card-title">
                ¥<%= item.add_tax_price.to_s(:delimited, delimiter: ",") %>
              </h6>
            </div>
          </div>
        <% end %>
      </div>
      <div class="row mt-3 text-right">
        <%= link_to "すべての商品を見る >", items_path %>
      </div>
    </div>
  </div>
</div>