<div class="container">
  <h3><%= @customer.last_name %><%= @customer.first_name %>さんの会員情報編集</h3>
  <%= form_with model: @customer, url: admin_customer_path(@customer.id) do |f| %>
  <div class="row mt-5 mb-4">
    <span class="col-2">
      会員ID
    </span>
    <span class="col-10">
      <%= @customer.id %>
    </span>
  </div>
  <div class="row mb-4">
    <span class="col-2">
      氏名
    </span>
    <%= f.text_field :last_name, class: "col-2" %>
    <%= f.text_field :first_name, class: "offset-1 col-2" %>
  </div>
  <div class="row mb-4">
    <span class="col-2">
      フリガナ
    </span>
    <%= f.text_field :last_name_kana, class: "col-2" %>
    <%= f.text_field :first_name_kana, class: "offset-1 col-2" %>
  </div>
  <div class="row mb-4">
    <span class="col-2">
      郵便番号
    </span>
    <%= f.text_field :postal_code, class: "col-2" %>
  </div>
  <div class="row mb-4">
    <span class="col-2">
      住所
    </span>
    <%= f.text_field :address, class: "col-6" %>
  </div>
  <div class="row mb-4">
    <span class="col-2">
      電話番号
    </span>
    <%= f.text_field :telephone_number, class: "col-2" %>
  </div>
  <div class="row mb-4">
    <span class="col-2">
      メールアドレス
    </span>
      <%= f.email_field :email, class: "col-2" %>
  </div>
  <div class="row mb-4">
    <span class="col-2">
      会員ステータス
    </span>
    <span class="col-1">
      <%= f.radio_button :is_deleated, 0, class: "form-check-input" %>
      <%= f.label :is_deleated, "有効", class: "form-check-label" %>
    </span>
    <span class="col-1">
      <%= f.radio_button :is_deleated, 1, class: "form-check-input" %>
      <%= f.label :is_deleated, "退会", class: "form-check-label" %>
    </span>
  </div>
  <div class="row">
    <span class="offset-2 col-2">
      <%= f.submit "変更を保存", class: "btn btn-success" %>
    </span>
  </div>
  <% end %>
</div>