<div class="container">
  <h3>注文履歴一覧</h3>
  <table class="table">
    <thead>
      <tr>
        <th class="col-4">購入日時</th>
        <th class="col-3">購入者</th>
        <th class="col-2">注文個数</th>
        <th class="col-3">注文ステータス</th>
      </tr>
    </thead>
    <tbody>
      <% @orders.each do |order| %>
        <tr>
          <td>
            <%= link_to admin_order_path(order.id) do %>
              <%= order.created_at %>
            <% end %>
          </td>
          <td><%= order.customer.last_name %><%= order.customer.first_name %></td>
          <td><%= order.order_items.sum(:amount) %></td>
          <td><%= order.status_i18n %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="row justify-content-center">
    <%= paginate @orders %>
  </div>
</div>