<div class="container">
  <div class="row">
    <div class="col-12">
      <h2>新規会員登録</h2>
      <%= form_with model: @customer, url: customer_registration_path do |f| %>
        <%= render "public/shared/error_messages", resource: resource %>

        <div class="field mb-2">
          <span class="mr-5">名前</span>
          <span class="mr-4">
            <%= f.label :last_name, "(姓)" %>
            <%= f.text_field :last_name, autofocus: true %>
          </span>
          <span class="mr-4">
            <%= f.label :first_name, "(名)" %>
            <%= f.text_field :first_name %>
          </span>
        </div>

        <div class="field mb-2">
          <span class="mr-5">フリガナ</span>
          <span class="mr-4">
            <%= f.label :last_name_kana, "(セイ)" %>
            <%= f.text_field :last_name_kana %>
          </span>
          <span class="mr-4">
            <%= f.label :first_name_kana, "(メイ)" %>
            <%= f.text_field :first_name_kana %>
          </span>
        </div>

        <div class="field mb-2">
          <span class="mr-5">メールアドレス</span>
          <%= f.email_field :email %>
        </div>

        <div class="field mb-2">
          <span class="mr-5">郵便番号(ハイフンなし)</span>
          <%= f.text_field :postal_code %>
        </div>

        <div class="field mb-2">
          <span class="mr-5">住所</span>
          <%= f.text_field :address %>
        </div>

        <div class="field mb-2">
          <span class="mr-5">電話番号(ハイフンなし)</span>
          <%= f.text_field :telephone_number %>
        </div>

        <div class="field mb-2">
          <span class="mr-5">パスワード(6文字以上)</span>
          <%= f.password_field :password %>
        </div>

        <div class="field mb-2">
          <span class="mr-5">パスワード(確認用)</span>
          <%= f.password_field :password_confirmation %>
        </div>

        <div class="actions">
          <%= f.submit "Sign up" %>
        </div>
      <% end %>

      <%= render "public/shared/links" %>

    </div>
  </div>
</div>

