<div class="container">
  <div class="row mt-5">

    <%= render 'public/items/genre', genres: @genres %>

    <div class="col-3">
      <%= image_tag @item.get_image(300,200), class: "img-fluid" %>
    </div>
    <div class="offset-1 col-5">
      <h3>
        <%= @item.name %>
      </h3>
      <p class="mt-1 mb-4">
        <%= @item.introduction %>
      </p>
      <p style="font-size: 2rem;">
        ¥<%= @item.add_tax_price.to_s(:delimited, delimiter: ',') %>
        <span style="font-size: 1rem;">(税込)</span>
      </p>
      <div class="row mt-3 d-inline">
        <%= form_with model: @cart_item, url: cart_items_path do |f| %>
          <%= f.hidden_field :customer_id, value: current_customer.id %>
          <%= f.hidden_field :item_id, value: @item.id %>
          <span class="col">
            <%= f.select :amount, *[1..10], prompt: "個数選択" %>
          </span>
          <span class="offset-1 col">
          <%= f.submit "カートに入れる", class: "btn btn-success" %>
          </span>
        <% end %>
      </div>
    </div>
  </div>
</div>