<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/046ff86259.js" crossorigin="anonymous"></script>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg" role="navigation">
        <div class="container">
          <a class="navbar-brand" href="/">
            <span>NaganoCake</span>
          </a>
          <ul class="navbar-nav">

          <% if admin_signed_in? %>
            <li class="nav-item px-2">
              <%= link_to "商品一覧", admin_items_path %>
            </li>
            <li class="nav-item px-2">
              <%= link_to "会員一覧", admin_customers_path %>
            </li>
            <li class="nav-item px-2">
              <%= link_to "注文履歴一覧", admin_path %>
            </li>
            <li class="nav-item px-2">
              <%= link_to "ジャンル一覧", admin_genres_path %>
            </li>
            <li class="nav-item px-2">
              <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
            </li>

          <% elsif customer_signed_in? %>
            <li class="nav-item px-2">
              <%= link_to "マイページ", my_page_path %>
            </li>
            <li class="nav-item px-2">
              <%= link_to "商品一覧", items_path %>
            </li>
            <li class="nav-item px-2">
              <%= link_to "カート", cart_items_path %>
            </li>
            <li class="nav-item px-2">
              <%= link_to "ログアウト", destroy_customer_session_path, method: :delete %>
            </li>

          <% else %>
            <li class="nav-item px-2">
              <%= link_to "About", about_path %>
            </li>
            <li class="nav-item px-2">
              <%= link_to "商品一覧", items_path %>
            </li>
            <li class="nav-item px-2">
              <%= link_to "新規登録", new_customer_registration_path %>
            </li>
            <li class="nav-item px-2">
              <%= link_to "ログイン", new_customer_session_path %>
            </li>
          <% end %>

          </ul>
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn" type="submit">
              <i class="fa-solid fa-magnifying-glass"></i>
            </button>
          </form>
        </div>
      </nav>
    </header>
    <main>
    <%= yield %>
    </main>
    <footer>

    </footer>
  </body>
</html>
